html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}


@media (max-width: 480px) {
  .event-photos-gallery {
    text-align: center;
  }
}

.hide {
  display: none;
}
